html, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, img, small, strong, ol, ul, li, label, table {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

html {
  scroll-behavior: smooth;
  height: 100%
}

body {
  position: relative;
  font: normal 16px/1.9em "Inter UI", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%
}

h1 {
  font-style: normal;
  font-size: 45px;
  font-weight: normal;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

p {
  margin: 2em 0 2em;
}
.random-list {
  list-style-type: none;
  padding: 10px 0 30px;
}
.btn {
  width: 12rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.btn:hover {
    background: black;
    color: white;
  }

.single-page-header {
  font-family: Inter UI, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 1em
}
@media all and (max-width: 600px) {
  .single-page-header {
    font-size: 4rem;
  }
}

#skills-content {
  margin-bottom: 30px;
}
.section-header {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 1em;
  pointer-events: none;
  flex: 1 100%;
  margin-bottom: 30px;
}

@media all and (max-width: 600px) {
  .section-header {
    font-size: 30px;
    margin-left: 10px;
  }
}

.wrapper {
  position: relative;
  margin: 0 auto
}

.content-wrapper {
  width: 1280px;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 120px auto 0;
  padding: 40px
}

@media all and (max-width: 900px) {
  .content-wrapper {
    padding-right: 30px;
    padding-left: 30px
  }
}

@media all and (max-width: 600px) {
  .content-wrapper {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0
  }
}

.grid-items {
  display: flex;
  flex-flow: row wrap
}

.grid-item {
  flex: 1 50%;
  padding: 0 50px 40px;
  box-sizing: border-box;
  height: 650px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
}

@media all and (max-width: 900px) {
  .grid-item {
    padding-top: 60px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 80px
  }
}
@media all and (max-width: 900px) {
  .grid-item-contact, .grid-item-me {
height: 350px;
  }
}

@media all and (max-width: 800px) {
  .grid-item {
    flex: 1 100%;
    min-height: initial
  }
}

@media all and (max-width: 600px) {
  .grid-item {
    padding-left: 30px;
    padding-right: 30px
  }
}

@media all and (max-width: 480px) {
  .grid-item {
    padding-left: 20px;
    padding-right: 20px
  }
}

#logo {
  width: 10rem;
}

.grid-item-header {
  font-family: Inter UI, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  position: relative;
  z-index: 10;
  font-size: 50px;
  margin: 80px 0 0;
  color: rgb(61, 60, 61);
}

@media all and (max-width: 1000px) {
  .grid-item-header {
    font-size: 56px;
    margin: 10px 0 0;
  }
}

@media all and (max-width: 900px) {
  .grid-item-header {
    font-size: 52px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 480px) {
  .grid-item-header {
    font-size: 42px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 800px) {
  .grid-item-wide .grid-item-header {
    margin-top: 0
  }
}

@media all and (max-width: 800px) {
  .grid-item-text, .grid-item-wide .grid-item-text {
    max-width: 90%;
    padding-bottom: 40px
  }
}

.menu {
  position: absolute;
  top: 2.7vmin;
  left: 2.8vmin;
  z-index: 1003;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  width: 23px;
  padding: 10px;
}

.menu-icon-line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #a5acbc;
  margin-bottom: 4px;
  border-radius: 2px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s ease-out;
  transform: translateZ(0)
}

.menu:hover>.menu-icon-line {
  background-color: #8591ac;
  transform: scaleX(1.2)
}

.menu-active>.menu-icon-line-1, .menu-active:hover>.menu-icon-line-1 {
  -webkit-transform: translateY(6px) rotateZ(-135deg);
  transform: translateY(6px) rotateZ(-135deg);
  background-color: #fff
}

.menu-active>.menu-icon-line-2, .menu-active:hover>.menu-icon-line-2 {
  opacity: 0;
  background-color: #fff
}

.menu-active>.menu-icon-line-3, .menu-active:hover>.menu-icon-line-3 {
  -webkit-transform: translateY(-6px) rotateZ(135deg);
  transform: translateY(-6px) rotateZ(135deg);
  background-color: #fff
}

.e-mail {
  text-decoration: none;
}

@media all and (max-width: 900px) {
  .e-mail {
    font-size: 2rem;
  }
}
#linkedin {
  width: 3rem;
}

.heroSection {
  height: 100%;
  position: relative;
  margin-top: 0;
  padding-top: 5vh
}

.header-header {
  position: absolute;
  padding: 0 20px;
  top: 25.5%;
  left: 0;
  right: 0
}
.header-header2 {
  font-family: 'Nothing You Could Do', cursive;
  position: absolute;
  padding: 0 20px;
  top: 53.5%;
  left: 0;
  right: 0;
  font-size: 70px;
  font-weight: 400;
}
@media all and (max-width: 600px) {
  .header-header2 {
    font-size: 3.2rem;
    top: 47%;
  }
}

@media all and (max-width: 900px) {
  .header-header2 {
    font-size: 4rem;
    top: 47%;
  }
}

.header-subheader {
  position: absolute;
  padding: 0 20px;
  top: 20.5%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600
}

.gridItems-peak {
  margin-top: -180px
}

.white-text {
  color: white;
}
.gray-text {
  color: rgb(192, 193, 192);
}

.grid-item-skills {
  background-color: rgb(192, 193, 192);
}

.grid-item-education {
  background-color: rgb(246, 224, 53);
}

.grid-item-project1 {
  background: url('./img/ticketapp2.jpg');
  background-size: 800px;
  background-position: center top;
  justify-content: flex-start;
}

.grid-item-project2 {
  background: url('./img/quiz.jpg');
  background-size: 1000px;
  background-position: center top;
  justify-content: flex-start;
}
@media all and (max-width: 900px) {
  .grid-item-project2 {
    background-size: 1000px;
    background-position: 20% bottom;
  }
}

.grid-item-github {
  background-color: rgb(251, 160, 39);
}

.grid-item-random {
  background: url('./img/tea.jpg');
  background-size: 1000px;
  background-position: center top;
  padding-top: 140px;
}

.grid-item-coming {
  background: url('./img/wall.jpg');
  background-size: 800px;
}

.grid-item-contact {
  background-color: rgb(207, 206, 204);
  justify-content: center;
}

.grid-item-me {
  background: url('./img/dog.jpg');
  background-size: 600px;
}

@media all and (max-width: 900px) {
  .grid-item-me {
    background-size: 380px;
    background-position: center center;
  }
}

/* Navbar */

head>
<style media="screen">

  .nav ul {
      *zoom:1;
      list-style:none;
      margin:0;
      padding:0;
      background:#333;
  }
  .nav ul:before,.nav ul:after {
      content:"";
      display:table;
  }
  .nav ul:after {
      clear:both;
  }
  .nav ul > li {
      float:left;
      position:relative;
  }
  .nav a {
      display:block;
      padding:10px 20px;
      line-height:1.2em;
      color:#fff;
      text-decoration:none;
  }
  .nav a:hover {
      text-decoration:none;
  }
  .nav li ul {
      background:#273754;
      margin-top: 25px;
      margin-left: 20px;

  }
  .nav li ul li {
      width:200px;
  }
  .nav li ul a {
      border:none;
  }
  .nav li ul a:hover {
      background:rgba(0,0,0,0.2);
  }
  .nav li ul {
  position:absolute;
  left:0;
  top:36px;
  z-index:1;
}
.nav li ul li {
  overflow:hidden;
  height:0;
  -webkit-transition:height 200ms ease-in;
  -moz-transition:height 200ms ease-in;
  -o-transition:height 200ms ease-in;
  transition:height 200ms ease-in;
}
.nav ul > li:hover ul li {
  height:50px;
}
